---
import Base from "../layouts/Base.astro";
import Copyright from "../components/Copyright.astro";
import ThemeButton from "../components/ThemeButton.astro";
import { Image } from "astro:assets";
import meImage from "../../public/me.jpg";
---

<Base>
  {/* Home theme button - fixed position */}
  <div id="home-theme-btn" class="fixed right-4 top-4 z-[1000] flex justify-end">
    <ThemeButton position="bottom" />
  </div>

  <div class="mt-16 flex items-center justify-center sm:absolute sm:top-0 sm:right-0 sm:bottom-0 sm:left-0 sm:m-auto sm:mt-0">
    <div class="w-[85%] text-center sm:w-fit">
      <div class="background-and-shadow bg-background-secondary rounded-xl border-b-2 border-gray-300 px-6 pt-8 pb-6 shadow-lg dark:border-none dark:shadow-none">
        <div class="fade-in three mx-auto mb-4 h-36 w-36 overflow-hidden rounded-full">
          <Image
            src={meImage}
            alt="Headshot of Kyle Satti"
            width={288}
            height={288}
            loading="eager"
          />
        </div>
        <div class="rise-up mb-2">
          <div class="text-primary text-3xl font-bold">Kyle Satti</div>
          <div class="text-secondary text-xl">kylejs</div>
        </div>
        <div class="fade-in two pb-10">
          I like to build teams and create things, <br /> mostly with an
          IDE, camera or 3D printer.
        </div>
        <div class="fade-in three flex items-center justify-center gap-4 pb-4">
          <a href="https://github.com/ky1ejs">
            <svg class="fill-secondary h-10 w-10 hover:fill-[#333]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M17.791,46.836C18.502,46.53,19,45.823,19,45v-5.4c0-0.197,0.016-0.402,0.041-0.61C19.027,38.994,19.014,38.997,19,39 c0,0-3,0-3.6,0c-1.5,0-2.8-0.6-3.4-1.8c-0.7-1.3-1-3.5-2.8-4.7C8.9,32.3,9.1,32,9.7,32c0.6,0.1,1.9,0.9,2.7,2c0.9,1.1,1.8,2,3.4,2 c2.487,0,3.82-0.125,4.622-0.555C21.356,34.056,22.649,33,24,33v-0.025c-5.668-0.182-9.289-2.066-10.975-4.975 c-3.665,0.042-6.856,0.405-8.677,0.707c-0.058-0.327-0.108-0.656-0.151-0.987c1.797-0.296,4.843-0.647,8.345-0.714 c-0.112-0.276-0.209-0.559-0.291-0.849c-3.511-0.178-6.541-0.039-8.187,0.097c-0.02-0.332-0.047-0.663-0.051-0.999 c1.649-0.135,4.597-0.27,8.018-0.111c-0.079-0.5-0.13-1.011-0.13-1.543c0-1.7,0.6-3.5,1.7-5c-0.5-1.7-1.2-5.3,0.2-6.6 c2.7,0,4.6,1.3,5.5,2.1C21,13.4,22.9,13,25,13s4,0.4,5.6,1.1c0.9-0.8,2.8-2.1,5.5-2.1c1.5,1.4,0.7,5,0.2,6.6c1.1,1.5,1.7,3.2,1.6,5 c0,0.484-0.045,0.951-0.11,1.409c3.499-0.172,6.527-0.034,8.204,0.102c-0.002,0.337-0.033,0.666-0.051,0.999 c-1.671-0.138-4.775-0.28-8.359-0.089c-0.089,0.336-0.197,0.663-0.325,0.98c3.546,0.046,6.665,0.389,8.548,0.689 c-0.043,0.332-0.093,0.661-0.151,0.987c-1.912-0.306-5.171-0.664-8.879-0.682C35.112,30.873,31.557,32.75,26,32.969V33 c2.6,0,5,3.9,5,6.6V45c0,0.823,0.498,1.53,1.209,1.836C41.37,43.804,48,35.164,48,25C48,12.318,37.683,2,25,2S2,12.318,2,25 C2,35.164,8.63,43.804,17.791,46.836z"/></svg>
          </a>
          <a href="https://open.spotify.com/user/kylejm_">
            <svg class="fill-secondary h-10 w-10 hover:fill-[#1db954]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M25.009,1.982C12.322,1.982,2,12.304,2,24.991S12.322,48,25.009,48s23.009-10.321,23.009-23.009S37.696,1.982,25.009,1.982z M34.748,35.333c-0.289,0.434-0.765,0.668-1.25,0.668c-0.286,0-0.575-0.081-0.831-0.252C30.194,34.1,26,33,22.5,33.001 c-3.714,0.002-6.498,0.914-6.526,0.923c-0.784,0.266-1.635-0.162-1.897-0.948s0.163-1.636,0.949-1.897 c0.132-0.044,3.279-1.075,7.474-1.077C26,30,30.868,30.944,34.332,33.253C35.022,33.713,35.208,34.644,34.748,35.333z M37.74,29.193 c-0.325,0.522-0.886,0.809-1.459,0.809c-0.31,0-0.624-0.083-0.906-0.26c-4.484-2.794-9.092-3.385-13.062-3.35 c-4.482,0.04-8.066,0.895-8.127,0.913c-0.907,0.258-1.861-0.272-2.12-1.183c-0.259-0.913,0.272-1.862,1.184-2.12 c0.277-0.079,3.854-0.959,8.751-1c4.465-0.037,10.029,0.61,15.191,3.826C37.995,27.328,38.242,28.388,37.74,29.193z M40.725,22.013 C40.352,22.647,39.684,23,38.998,23c-0.344,0-0.692-0.089-1.011-0.275c-5.226-3.068-11.58-3.719-15.99-3.725 c-0.021,0-0.042,0-0.063,0c-5.333,0-9.44,0.938-9.481,0.948c-1.078,0.247-2.151-0.419-2.401-1.495 c-0.25-1.075,0.417-2.149,1.492-2.4C11.729,16.01,16.117,15,21.934,15c0.023,0,0.046,0,0.069,0 c4.905,0.007,12.011,0.753,18.01,4.275C40.965,19.835,41.284,21.061,40.725,22.013z"/></svg>
          </a>
          <a href="https://www.linkedin.com/in/kylejs/">
            <svg class="fill-secondary h-10 w-10 hover:fill-[#0077b5]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M25,2C12.318,2,2,12.317,2,25s10.318,23,23,23s23-10.317,23-23S37.682,2,25,2z M18,35h-4V20h4V35z M16,17 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2s2,0.895,2,2C18,16.105,17.105,17,16,17z M37,35h-4v-5v-2.5c0-1.925-1.575-3.5-3.5-3.5 S26,25.575,26,27.5V35h-4V20h4v1.816C27.168,20.694,28.752,20,30.5,20c3.59,0,6.5,2.91,6.5,6.5V35z"/></svg>
          </a>
          <a href="https://instagram.com/_kylejs_">
            <svg class="fill-secondary h-10 w-10 hover:fill-[#e1306c]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"/></svg>
          </a>
          {/* Threads */}
          <div class="relative h-[36px] w-[36px]">
            <a href="https://www.threads.net/@_kylejs_">
              <svg class="fill-secondary" aria-label="Threads" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg"><path d="M141.537 88.9883C140.71 88.5919 139.87 88.2104 139.019 87.8451C137.537 60.5382 122.616 44.905 97.5619 44.745C97.4484 44.7443 97.3355 44.7443 97.222 44.7443C82.2364 44.7443 69.7731 51.1409 62.102 62.7807L75.881 72.2328C81.6116 63.5383 90.6052 61.6848 97.2286 61.6848C97.3051 61.6848 97.3819 61.6848 97.4576 61.6855C105.707 61.7381 111.932 64.1366 115.961 68.814C118.893 72.2193 120.854 76.925 121.825 82.8638C114.511 81.6207 106.601 81.2385 98.145 81.7233C74.3247 83.0954 59.0111 96.9879 60.0396 116.292C60.5615 126.084 65.4397 134.508 73.775 140.011C80.8224 144.663 89.899 146.938 99.3323 146.423C111.79 145.74 121.563 140.987 128.381 132.296C133.559 125.696 136.834 117.143 138.28 106.366C144.217 109.949 148.617 114.664 151.047 120.332C155.179 129.967 155.42 145.8 142.501 158.708C131.182 170.016 117.576 174.908 97.0135 175.059C74.2042 174.89 56.9538 167.575 45.7381 153.317C35.2355 139.966 29.8077 120.682 29.6052 96C29.8077 71.3178 35.2355 52.0336 45.7381 38.6827C56.9538 24.4249 74.2039 17.11 97.0132 16.9405C119.988 17.1113 137.539 24.4614 149.184 38.788C154.894 45.8136 159.199 54.6488 162.037 64.9503L178.184 60.6422C174.744 47.9622 169.331 37.0357 161.965 27.974C147.036 9.60668 125.202 0.195148 97.0695 0H96.9569C68.8816 0.19447 47.2921 9.6418 32.7883 28.0793C19.8819 44.4864 13.2244 67.3157 13.0007 95.9325L13 96L13.0007 96.0675C13.2244 124.684 19.8819 147.514 32.7883 163.921C47.2921 182.358 68.8816 191.806 96.9569 192H97.0695C122.03 191.827 139.624 185.292 154.118 170.811C173.081 151.866 172.51 128.119 166.26 113.541C161.776 103.087 153.227 94.5962 141.537 88.9883ZM98.4405 129.507C88.0005 130.095 77.1544 125.409 76.6196 115.372C76.2232 107.93 81.9158 99.626 99.0812 98.6368C101.047 98.5234 102.976 98.468 104.871 98.468C111.106 98.468 116.939 99.0737 122.242 100.233C120.264 124.935 108.662 128.946 98.4405 129.507Z"></path></svg>
              <svg class="absolute top-0 left-0 h-full w-full opacity-0 hover:opacity-100" viewBox="0 0 153.14 178" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="threads-grad" x1="41.76" y1="-17.79" x2="110.1" y2="180.87" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#515bd4"/><stop offset="0.25" stop-color="#8134af"/><stop offset="0.5" stop-color="#dd2a7b"/><stop offset="0.75" stop-color="#f58529"/><stop offset="1" stop-color="#feda77"/></linearGradient></defs><path fill="url(#threads-grad)" d="M119.16,82.5c-.76-.37-1.54-.72-2.33-1.06-1.37-25.32-15.21-39.81-38.43-40h-.32c-13.89,0-25.45,5.93-32.56,16.72L58.3,67c5.31-8.06,13.65-9.78,19.79-9.78h.21c7.65.05,13.42,2.27,17.15,6.61,2.72,3.15,4.54,7.52,5.44,13a97.8,97.8,0,0,0-22-1.06C56.85,77,42.66,89.92,43.61,107.81a27.6,27.6,0,0,0,12.73,22A39.4,39.4,0,0,0,80,135.75c11.55-.64,20.61-5,26.93-13.1,4.8-6.12,7.83-14.05,9.17-24a28.29,28.29,0,0,1,11.84,13c3.83,8.93,4.06,23.61-7.92,35.58-10.49,10.48-23.11,15-42.17,15.15-21.15-.15-37.14-6.93-47.54-20.15C20.61,129.76,15.58,111.88,15.4,89c.18-22.88,5.21-40.76,15-53.14,10.4-13.22,26.39-20,47.54-20.15,21.3.15,37.57,7,48.36,20.25,5.3,6.51,9.29,14.7,11.92,24.25l15-4a81.07,81.07,0,0,0-15-30.29C124.26,8.91,104-.18,77.94,0h-.1c-26,.18-46.05,8.94-59.49,26C6.38,41.24.21,62.41,0,88.94v.12c.21,26.53,6.38,47.7,18.35,62.91,13.44,17.09,33.46,25.85,59.49,26h.1c23.14-.16,39.45-6.22,52.89-19.64,17.58-17.57,17-39.58,11.25-53.1C137.93,95.57,130,87.7,119.16,82.5M79.21,120.06c-9.68.55-19.73-3.8-20.23-13.1-.37-6.9,4.91-14.6,20.83-15.52,1.82-.1,3.61-.15,5.36-.15a76,76,0,0,1,16.11,1.63c-1.84,22.91-12.59,26.62-22.07,27.14"/></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="my-4 text-center text-gray-500">
        I sometimes blog{" "}
        <a class="hover:text-primary underline" href="/posts/">here</a>{" "}
        &#x270D;&#xFE0F;
        <div>
          <p class="wave-label">
            <a href="/about/">About me</a>
            {" "}<span class="hand text-lg">&#x1F44B;&#x1F3FC;</span>
          </p>
        </div>
        <Copyright />
      </div>
    </div>
  </div>
</Base>

<script>
  function initHomeThemeButton() {
    const btn = document.getElementById("home-theme-btn");
    if (!btn) return;

    function updatePosition() {
      const isMobile = window.innerWidth < 500;
      btn!.className = `fixed right-4 z-[1000] flex justify-end ${isMobile ? "bottom-4" : "top-4"}`;

      const popover = document.getElementById("theme-popover");
      if (!popover) return;
      if (isMobile) {
        popover.classList.remove("top-10");
        popover.classList.add("bottom-12");
      } else {
        popover.classList.remove("bottom-12");
        popover.classList.add("top-10");
      }
    }

    updatePosition();
    window.addEventListener("resize", updatePosition);
  }

  initHomeThemeButton();
</script>

<style>
  .wave-label:hover .hand {
    animation-name: wave-animation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% { transform: rotate(-2deg); }
    25% { transform: rotate(14deg); }
    50% { transform: rotate(-8deg); }
    75% { transform: rotate(14deg); }
    100% { transform: rotate(-2deg); }
  }
</style>
