@tailwind utilities;

@layer components {
  .post {
    th { 
      @apply text-left pb-2 px-2;
    }

    td {
      @apply border-t-[1px] border-gray-400 py-1 px-2;
    }

    table { 
      @apply my-2;
    }
  }
}

@layer utilities {
  .wave {
    animation-name: wave-animation; 
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% { transform: rotate( -2.0deg) }
    25% { transform: rotate( 14.0deg) }
    50% { transform: rotate(-8.0deg) }
    75% { transform: rotate(14.0deg) }
    100% { transform: rotate(-2.0deg) }
  }
}